# Sistema Operacional / Arquivos temporários
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Vercel & Deploy
.vercel

# Node & Dependências (se aplicável)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env*.local

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de rascunho internos
scratch/
